.footer-text {
    text-align: center;
    color: #868e96;
    
  }
  .footer-header {
    text-align: center;
  }
  
  .footer-div {
    margin-top: 2rem;
  
  }
  

  .contact-title {
    font-size: 56px;
    font-weight: 400;
    line-height: normal;
    
    /* position: center; */
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
  }